[2016-08-17 14:45] caniszczyk opened #1 "Roll out CLABot to Kubernetes"
This issue will track progress of rolling out the CLA Bot fully to Kubernetes (see this issue for previous discussion: https://github.com/cncf/demo/pull/7) and this Google doc (https://docs.google.com/document/d/1LIwyn5PDSYu8kh-7hH8688lt1cvwATkZmhec13nhp1c/edit#).

This blocks issue: https://github.com/kubernetes/kubernetes/issues/27796

[2016-08-17 14:52] caniszczyk commented on #1
Hey @emsearcy, can you add https://github.com/kubernetes/pr-bot  as another repo to the CNCF CLABot so we can move the testing into the Kubernetes organization.

[2016-08-17 15:30] dankohn commented on #1
Cc @bgrant0607 @foxish @monadic

[2016-08-17 15:52] foxish commented on #1
Thanks @dankohn. Chris and I have communicated via email and we've granted access to the pr-bot repository in the kubernetes org.

[2016-08-18 23:35] foxish commented on #1
Looks like our first step [has been successful](https://github.com/kubernetes/pr-bot/pull/2). Thanks @caniszczyk.
Before we start on implementing the label behavior in our bot, I'd like to discuss some aspects of your system to understand how they might work after we switch to the CNCF bot.

1. When no CLA is found, we apply the `cla: no` label and wait for the person to sign and comment back with

[2016-08-25 00:45] thelinuxfoundation commented on #1
An update for Dan from a meeting I had with @foxish.
* webhooks are on target to be ready by the end of the week.
* commenting on a PR to update the status should not be needed, as our system will re-check open PRs immediately upon users signing CLAs.  That said, any update to a PR will cause the webhook to fire too
* Currently, it is not possible from within the status API message we post to get

[2016-08-25 00:47] thelinuxfoundation commented on #1
An update for @dankohn from a meeting I had with @foxish.

* webhooks are on target to be ready by the end of the week.
* commenting on a PR to update the status should not be needed, as our system will re-check open PRs immediately upon users signing CLAs. That said, any update to a PR will cause the webhook to fire too
* Currently, it is not possible from within the status API message we post to

[2016-08-25 00:48] emsearcy commented on #1
(sorry about the extra notifications)

An update for @dankohn from a meeting I had with @foxish.

* webhooks are on target to be ready by the end of the week.
* commenting on a PR to update the status should not be needed, as our system will re-check open PRs immediately upon users signing CLAs. That said, any update to a PR will cause the webhook to fire too
* Currently, it is not possible from w

[2016-08-26 23:45] emsearcy commented on #1
(meant to send this yesterday but looks like I never hit "Comment")

Example pull request with multiple authors (pass and fail) including a commit lacking a GitHub author:
https://github.com/linuxfoundation-cla/webhook-test/pull/1

(Github only uses the status of the last commit in the series, so we propagate failures through to children commits, where the message for a given commit is the status

[2016-08-26 23:51] emsearcy commented on #1
OK, the pull request web service is live now.  We have monitoring set up for it—if you want to monitor it yourself you can hit a simple ping responder which is separate from the github API endpoint but in the same Go service:
https://identity.linuxfoundation.org/lfcla/ping (should return 200, contents "OK")

cncf/demo and kubernetes/pr-bot have had the polling Perl script shutdown, and have been c

[2016-08-27 00:02] foxish commented on #1
@emsearcy Sounds good! The example PR you showed looks good as well. The mungebot can handle the labels and comments. We would just need the status to be set.

[2016-08-29 17:27] foxish commented on #1
@emsearcy What is the procedure to set up the webhook for new repositories as we roll out incrementally? I can see the configuration in the pr-bot repository settings. Is there some other step as well?

[2016-08-29 18:13] foxish commented on #1
@emsearcy I just tried a test deployment on pr-bot. Please see https://github.com/kubernetes/pr-bot/pull/3#issuecomment-243205552
I signed the CLA, and commented on the PR (`I signed it!`) but I don't see any change in the status `cla/linuxfoundation`. The CLA page tells me I'm authorized to contribute. Shouldn't the webhook be firing immediately and updating that status?

cc @bgrant0607

[2016-08-30 20:23] foxish commented on #1
Update: In an email discussion, we found that there was an issue with the way the CLA check is implemented currently on the CNCF side. We will continue with deployment once the issues are addressed.

[2016-09-06 18:33] foxish commented on #1
@emsearcy @caniszczyk  Any updates so far on fixing the issue we found in the CNCF contributor validation?

cc @dankohn

[2016-09-10 10:54] dankohn commented on #1
@emsearcy @caniszczyk Could you please provide an update on the status here?

[2016-09-12 15:44] caniszczyk commented on #1
I believe @emsearcy will followup soon, he was out on vacation for the last week.

Thanks for your patience.

[2016-09-19 20:23] emsearcy commented on #1
Thank you for your patience.  I've been communicating with our developer team on this and they have completed implementing and testing a hotfix for the issue.  They'll deploy it 6pm EDT today.

[2016-09-20 15:30] caniszczyk opened #2 "Roll out Code of Conduct to CNCF"
The Hyperledger project recently went through a process to select a code of conduct which will serve as code of conducts for LF collaborative projects moving forward. We will most likely reuse this: https://github.com/hyperledger/hyperledger/wiki/Hyperledger-Project-Code-of-Conduct

[2016-09-20 16:07] foxish commented on #1
@emsearcy Is the fix live at this point? Can we proceed with migrating the CLA system?

[2016-09-20 16:13] emsearcy commented on #1
Yes, the fix for email validation behavior on GitHub-based account registration is live.

[2016-09-20 16:32] foxish commented on #1
@emsearcy Thanks! The fix appears to work as expected, in a test I just ran.
I will need some detail on the way to setup the necessary webhook on a different repository. Would you be able to explain in an email?

[2016-09-21 15:48] dankohn commented on #2
Current Kubernetes Code of Conduct: https://github.com/kubernetes/kubernetes/blob/master/code-of-conduct.md

[2016-09-21 15:49] dankohn commented on #2
Conference code of conduct: http://events.linuxfoundation.org/events/linuxcon-north-america/attend/code-of-conduct

[2016-09-21 15:50] caniszczyk commented on #2
To @dankohn point, this is across all LF Events for event: http://events.linuxfoundation.org/events/kubecon/attend/code-of-conduct

[2016-09-21 15:54] preillyme commented on #2
👍

[2016-09-21 17:15] philips commented on #2
One extremely important thing that we MUST include in whatever CoC we adopt: the people responsible for the CoC cannot be hidden behind an email alias and should be explicitly listed. It is unclear from this email address conduct@lists.hyperledger.org if this is publicly archived, where it is archived, and who can read those archives.

I think hyperledger's CoC should be revised as well to fix thi

[2016-09-21 18:33] dankohn commented on #2
@philips Presumably you think any email should not be publicly archived. But, any email to me will be archived in my Gmail, and is, therefore subpoenable. Just to be explicit, you're suggesting that:
1. Recipients of the email should be specified, and
2. Email conversations should not be made public.

Anything else?

cc @lehors @mprelude @behlendorf

[2016-09-21 18:38] philips commented on #2
Yes, I understand emails are subpoenable.

Yes, I agree with 1 & 2.

The tone of the hyperledger CoC feels more lawyery than the current one adopted by k8s. Generally you want to avoid that tone when dealing with these topics. But, I don't think that is a blocker.

[2016-09-21 18:46] dankohn commented on #2
BTW, I didn't make clear enough that HyperLedger document is almost totally taken from W3C. Adjustments were based on changes from a standards organization to code development.

[2016-09-23 17:04] sarahnovotny commented on #2
i'm with @philips on the opinion that these CoCs should be approachable and as un-lawyer-ly as possible.  And that non-specific "report this to a mailing-list" obfuscation decreases trust and accountability which (i postulate) decreases reporting.

[2016-09-26 06:40] mprelude commented on #2
@sarahnovotny, what would be your concern with reporting to a mailing list? Lack of anonymity for the reporter or lack of transparency re: who could read it?

What would be your suggestion?

[2016-09-26 20:50] sarahnovotny commented on #2
hi @mprelude,

The answer is a bit of both.  If I've just had a terrible thing happen in relation some person (potentially of power in the community), it's much harder to write to an opaque mailing list than to individuals.  It seems reasonable to fear both who would read the message ("what it goes to the person i'm complaining about?") and if my name is leaked i have not even the recourse of call

[2016-10-04 09:09] dankohn commented on #1
@emsearcy Could you please provide an overview on the status. What are the open issues preventing a rollout to K8s or other projects? Are there nice-to-haves we want to add in the future?

[2016-10-04 09:18] dankohn opened #3 "Open source CLAbot"
I would prefer for the entire CLAbot codebase to be open source so that others could make use of it, fix bugs, contribute features, etc.

@emsearcy Could you please scope out what would be involved in separating the CLAbot from the LF's Drupal infrastructure so that CNCF (and others who wanted to use it) are not reliant on any closed source infrastructure.

I presume we would still want the produc

[2016-10-06 13:54] lehors commented on #2
I understand the concern with using a mailing list. I will bring it up to the Hyperledger TSC for discussion.
Thanks for letting me know.

[2016-10-22 08:31] #2 closed

[2016-10-27 13:59] lehors commented on #2
For your information, the Hyperledger CoC has been changed. It now refers to two specific persons to contact in case of incident.
Thanks again for bringing up this issue to my attention.

[2016-10-27 14:03] dankohn commented on #2
@lehors I don't see the change on https://github.com/hyperledger/hyperledger/wiki/Hyperledger-Project-Code-of-Conduct

[2016-10-28 18:30] CaptTofu commented on #1
@googlebot I signed it!

[2016-11-02 13:54] caniszczyk commented on #2
This has been officially ratified by the ToC now, so we're all good:
https://lists.cncf.io/pipermail/cncf-toc/2016-November/000452.html

[2016-11-02 18:28] mikedanese commented on #2
Sorry about closing this. I think the wording "resolve cncf/foundation#2" in https://github.com/kubernetes/kubernetes/commit/deadea91dc910987b53184aa4b7c8e9b9b8946a8 advises github to close this automatically when the commit entered master.

[2016-11-19 04:16] foxish commented on #1
The rollout is now complete and the **kubernetes** and **kubernetes-incubator** organizations are using the CNCF CLA. Thanks @caniszczyk, @emsearcy and @dankohn for all the help.

[2016-11-20 18:40] foxish opened #4 "iCLA should have explanation of why we need it"
For the corporate CLA signers, the organizations/lawyers verify the terms of the CLA. For an individual looking to sign it, it may appear daunting. Perhaps we should have a landing page as the first step which explains the need for a CLA, so as to not startle someone with several pages of intimidating legalese right away

[2016-11-20 18:43] foxish commented on #4
cc @bgrant0607

[2016-11-21 20:50] bgrant0607 commented on #1
Thanks all!

[2016-11-21 20:50] #1 closed

[2017-02-17 13:52] pierreozoux opened #5 "Where to submit security vulnerabilities for cncf projects?"
For instance there is this issue:
https://github.com/kubernetes/charts/issues/391

I don't know if it is serious or not, but I believe that if it is a serious one, it shouldn't be public.
This should be sent to a an email and addressed outside of public discussions.

For instance:
https://www.chromium.org/Home/chromium-security/reporting-security-bugs

Once there is such a procedure, would be nice

[2017-02-18 22:04] caniszczyk commented on #5
This is decided on a per project basis. For k8s, check out this issue:
https://github.com/kubernetes/community/pull/126

[2017-02-18 22:04] #5 closed

[2017-04-04 18:46] caniszczyk opened #6 "short license identifiers"
Consider having CNCF projects adopt SPDX style short license identifiers

We could potentially make this a graduation requirement, but not sure what the TOC will think.

[2017-06-12 09:06] mbohlool commented on #1
Can we add this check to kubernetes-client org too?

[2017-10-04 17:13] spiffxp commented on #3
I don't have links handy, but anecdotally the CLAbot being opaque to kubernetes has been a little annoying lately.  The bot occasionally misbehaves, and issues related to it get routed to kubernetes-sig-testing, or the kubernetes/test-infra repo.  Neither of these places have anything to do with running or troubleshooting the bot.

What's the appropriate escalation path?  And where are we on open

[2017-10-04 18:07] dankohn commented on #3
Hi, we're well aware that the existing CLAbot is not ideal and the Linux Foundation (CNCF's parent) has been investing significant resources over the last 6 months to build an open source replacement for it. In fact, we're pretty close to rolling it out.

However, precisely because the current CLAbot works "well enough", we're likely going to make gRPC our first guinea pigs rather than risk disrup

[2017-10-20 23:06] BenTheElder commented on #3
Is there any ETA on this? As @spiffxp said we sometimes see the bot flake and we'd love to be able to do more.
Also: is there any way to explicitly request that the CLAbot recheck a PR if it does seem hung? For most of our checks we can put a `/retest` comment to kick the tires, but when the CLAbot seems hung I'm not sure what to do besides point people to the helpdesk.

[2017-10-21 06:08] dankohn commented on #3
@alanapost can the new CLAbot support a /retest (or /recheckcla) command?

@BenTheElder although the current CLAbot is far from ideal, I think we were planning to roll out the new CLAbot to gRPC first to let them deal with any beta bugs.

[2017-11-01 15:41] multi-io commented on #3
Hi. I’m trying to sign up to the CNCF CLA to be able to submit code, and I’m failing to do so. This is the PR where the corresponding check fails:

kubernetes-incubator/external-dns#376

The commits were made using my corporate mail address. I signed up at LinuxFoundation using my private Github account and associated private mail address (not the same as the corporate mail address), then changed

[2017-11-01 16:10] multi-io commented on #3
Sent the above text to helpdesk@rt.linuxfoundation.org, received this autoreply:

I can't even grok that last sentence. I can't log into https://rt.linuxfoundation.org/ using my https://identity.linuxfoundation.org account (created above), for whatever reason. Does that last sentence describe the "workaround" for that? I'm supposed to click "Forgot your password", even though of course I haven't f

[2017-11-01 16:23] multi-io commented on #3
I re-made all my commits using my personal mail address, which is my primary Github address, which I used to sign up at LF/CNCF. the CLA check still fails.

This must be one of the crappiest services I’ve ever encountered.

I guess I’m giving up now. I can’t submit any PRs or contribute any code to any K8s project, apparently. :sob:

[2017-11-01 17:52] cblecker commented on #3
@multi-io Did you e-mail the Linux Foundation helpdesk?

[2017-11-01 18:29] multi-io commented on #3
@cblecker I did, they replied quickly, we discussed some options. It works now, without either me or them having done anything, it appears. Still investigating.

[2017-11-02 17:56] emsearcy commented on #3
@multi-io I'm glad you are able to contribute your changes, and we appreciate your involvement in the project.

I'll send an update on your ticket, but I'll cross-post here for the benefit of others who may have similar issues. Investigating, it appears you and the other CCLA managers still needed to click the "Contribute as employee" link on https://identity.linuxfoundation.org/projects/cncf (whi

[2017-11-02 19:32] multi-io commented on #3
Thank you @emsearcy and Johnson. Upon clicking the link you mentioned, I arrived at the "you are now authorized..." screen. I'll tell my colleagues about it. Your quick support is much appreciated, and sorry for my misguided earlier flame. Peace :-)

Olaf

[2018-07-10 20:39] dantwining opened #8 "Hyphenated “microservices” in the cncf charter"
1b of the charter refers to “micro-services” (sic) whereas the FAQ and front page both refer to the (generally accepted as correct) form “microservices”. Please could the charter be corrected? I would happily raise a PR, but cannot find it in a repo.

https://www.cncf.io/about/charter/

[2018-07-10 20:41] dankohn commented on #8
Thanks for raising this. We're aiming to replace both uses of
"micro-services" with a reference to
https://github.com/cncf/toc/blob/master/DEFINITION.md but it may take a
couple more months for the CNCF governing board to approve the change. I
totally agree that we should do it, though.

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io

[2018-09-18 19:11] svoegeli opened #14 "Update CoC to newer version"
There's a new version of the Contributor Covenant at https://www.contributor-covenant.org/version/1/4/code-of-conduct

Can the the wording of the CNCF CoC be updated to reference this latest version?

[2018-10-02 12:11] castrojo opened #15 "Code of Conduct in non-English languages"
We'd like to set up regional boards for users on discuss.kubernetes.io in their own native languages but we're missing a code of conduct in Chinese for example.

I'm not sure what the protocol is, but I figured it wouldn't hurt to consider having the CoC translated to other languages. Some data that we have, the top 5 non-English kubernetes slack channels are currently:

- jp-users - 783
- de-user

[2018-10-02 12:17] mrbobbytables commented on #15
This might be resolved if CoC is updated to the newer version of the Contributor Covenant (#14) as 1.4 has been [translated into quite a few languages already](https://www.contributor-covenant.org/translations).

[2018-10-02 12:30] mrbobbytables commented on #15
@dankohn Would you mind adding Italian and Ukrainian to the translation request? We have some other folk who have shown interest in those native-language sections as well.

[2018-10-02 13:38] dankohn commented on #15
OK.

[2018-10-10 17:06] castrojo commented on #15
We've had a request for Korean since the docs are in the process of being translated.

[2018-10-25 11:21] mrbobbytables commented on #15
@dankohn I just wanted to touch base, do you happen to have an idea of when the the translations may be available?

[2018-10-25 13:44] dankohn commented on #15
Apologies, this should have been done already. Checking.

[2018-10-25 14:28] rootsongjc commented on #15
@castrojo Actually Slack is not a tool frequently used in China. Thousands of people ard organized with QQ or WeChat.

[2018-10-26 10:02] #15 closed

[2018-10-26 11:40] mrbobbytables commented on #15
Awesome, thanks so much @dankohn !

[2018-11-18 13:44] justinsb commented on #3
Any news on the open sourcing?  Personally, what I need is "just" an API that doesn't need authentication that can check whether an email has signed the CLA - do we have that already?  Is it safe to provide that?

[2018-11-18 14:07] dankohn commented on #3
Cc @ShubhraKar who is the LF's new VP Product and managing the new CLAbot. Shubhra, I would suggest doing a call with Justin to understand his requirements.

[2018-11-19 10:42] ShubhraKar commented on #3
Absolutely @dankohn would love to. @justinsb we are planning to open source the new CLA tool in mid December. I can show you a demo as well as discuss your requirements. Do you have time this week?

[2018-11-30 22:21] ShubhraKar commented on #3
@justinsb did not hear back. Do you have time next week? cc @dankohn

[2018-12-31 09:34] Zyqsempai opened #24 "Add Russian version of CoC"
The Russian language is missing from the CoC languages list

[2019-01-23 15:18] dims opened #26 "CLAbot is lacking logs"
This is especially painful when doing git surgery, examples
- filtering some files in git (examples in https://github.com/kubernetes/utils/pulls)
- moving stuff between branches (example https://github.com/kubernetes/kubernetes/pull/73042)
- between repos ( https://github.com/kubernetes-csi/csi-driver-host-path/pull/1 )

Let's take an example - https://github.com/kubernetes/utils/pull/55, the bot

[2019-01-23 15:18] dims commented on #26
kind of related to https://github.com/cncf/foundation/issues/3

[2019-01-23 15:22] dims commented on #26
currently the only way in k/k repos is to run the prow `/override` command by an admin to clear the bot status (tip courtesy of @bentheelder)

[2019-01-23 16:01] idvoretskyi commented on #26
cc @caniszczyk @idvoretskyi

[2019-01-23 16:31] dankohn commented on #26
@dims We are ready to replace the old CLAbot with a newly developed one. One of the big strengths is that it will be open source. So, while I'm sure it will have some new (and different bugs), it should be feasible to resolve them much faster.

I had some hesitation on rolling out to Kubernetes first, and was hoping to use gRPC as our beta tester. If you feel differently, we could swap that around

[2019-01-23 17:50] ShubhraKar commented on #26
@dims please let me know if you want to preview the new CLA tool. Happy to share.

[2019-01-23 17:54] dims commented on #26
@ShubhraKar sure! yes please

[2019-01-23 17:57] ShubhraKar commented on #26
Could you please provide your email or send me a note on skar@linuxfoundation.org so that I can schedule a meeting? Anyone else we should be inviting to the preview @dims @dankohn ?

[2019-01-23 18:13] thisisnotapril commented on #26
@dankohn FWIW, gRPC would be happy to be the beta tester as well!

[2019-01-23 21:37] dankohn commented on #26
That's great to hear, @thisisnotapril. We'd like to provide a demo for you as well. We don't want to switch over until you say it's ready, but gRPC is lower volume and so would make sense to start with.

[2019-01-28 22:00] spiffxp commented on #3
The current CLA bot doesn't deal well with people changing the e-mail addresses associated with their GitHub profile

https://github.com/kubernetes/community/pull/3001#issuecomment-458317632

[2019-01-28 22:36] justinsb commented on #3
Sorry @ShubhraKar - fell off my plate in the kubecon buildup.  Has clabot been open sourced?  Then I can send a PR to add the endpoint if it isn't there already :-)

[2019-01-28 22:56] dankohn commented on #3
Not open sourced yet, but it will be happening soon. First step is for us to deploy (and beta test) with gRPC. Please see: https://github.com/cncf/foundation/issues/26#issuecomment-456975915

We can try and get the logs and changing email address fixed during the beta test, and then be ready to switch kubernetes to use that bot. We will open source at the same time so that the K8s community will n

[2019-03-08 23:09] joejulian commented on #3
The bot's flaking out and not allowing [my PR](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/630) to be marked as having the CLA signed. Has gRPC's use of this started? Would be nice to have something with community support rather than directing us to use Jira where the only CLA related project appears to be considered, "Legacy" (as the "details" linked page does).

[2019-03-17 13:14] FlorianHockmann commented on #3
Will it be possible to use this bot for other projects at the LF or only for CNCF projects? Will the bot require additional infrastructure or do you plan to provide that for LF/CNCF projects?

I'm mainly asking for JanusGraph where the CLA process is currently done manually which is very time consuming and scares away some potential contributors. This seems to be the only bot that also handles cor

[2019-03-17 14:00] dankohn commented on #3
Yes, JanusGraph will be very welcome to use it with the LF managing the CLAbot. We're just a little backed up with the 2 week private beta of CommunityBridge and then we can hopefully move forward with the gRPC CLAbot rollout. https://www.linuxfoundation.org/press-release/2019/03/the-linux-foundation-launches-new-communitybridge-platform-to-help-sustain-open-source-communities/

[2019-03-17 14:35] FlorianHockmann commented on #3
Thanks for the quick response and it's great to hear that we will be able to automate the CLA process soon 🎉
Looking forward to any updates on this matter

[2019-03-23 21:19] dantwining commented on #8
I think this can be closed now, as the charter has been updated and references the “microservice” version of the definition. So I’ll close it! Thanks.

[2019-03-23 21:19] #8 closed

[2019-04-12 09:13] lizrice opened #36 "RFC: Code of Conduct should be requirement for all CNCF projects"
According to [this criteria doc](https://github.com/cncf/toc/blob/master/process/graduation_criteria.adoc), the CNCF code of conduct appears to be required only at Graduation. Is there any reason not to require this of all projects, including Sandbox and Incubation?

[2019-04-12 10:49] dankohn commented on #36
I think the CoC was seen as more controversial 2 years ago where now it's understood as simply good practice. I would support requiring it for all projects.

[2019-04-13 16:59] caniszczyk commented on #36
ya I put it here for a clarification:

https://github.com/cncf/toc/pull/227

[2019-04-15 19:15] caniszczyk opened #37 "Chinese translation for style guide?"
https://docs.google.com/document/d/1pIg4GySiGVW9qllYgCfYFgxD9dY90mIiJeUzb14ZDRw/edit?ts=5cb4d7f1

[2019-04-15 19:46] ultrasaurus commented on #36
FYI: there may be reasons that it could take some time to work through adopting the CNCF CoC specifically, if the project already has a different code of conduct.

Consider:
- all projects must have CNCF code of conduct or approved equivalent.
- sandbox/incuabating projects must have a CoC, graduated projects must have CNCF code of conduct

[2019-05-04 09:48] lizrice commented on #36
This is a very valid point, but it would be nice to get all projects consistent. If an incoming project already has an equivalent CoC then it's a trivial change to adopt the CNCF one; if they believe they would be losing something important then that might indicate we should be considering an update to the CNCF one

[2019-06-18 04:25] nikhita commented on #3
:wave: Hey folks, just wanted to check if this was rolled out to gRPC already and when can we expect this to be open sourced? :)

[2019-06-18 10:46] dankohn commented on #3
Thanks for the ping. @thisisnotapril and @dims have signed off on the plan for gRPC which is being rolled out over the next several weeks. When it's successful, the new CLAbot will be ready to be open sourced and rolled out for Kubernetes.

[2019-06-18 10:50] nikhita commented on #3
Awesome, thank you! :+1:

[2019-07-15 19:12] cblecker commented on #3
Hi @dankohn 👋

Any update on this? We have a number of enhancements we'd like to make to the CLA bot when it becomes OSS.

[2019-07-15 19:18] ShubhraKar commented on #3
@cblecker we are launching in 3 days - i.e on the 07/18/2019.

[2019-07-15 19:25] cblecker commented on #3
Awesome! Will keep 👀 on it. Thank you!

[2019-08-01 09:15] ehhc opened #42 "[Question] Cloud native definition"
Hi,
i have a question and hope, this is the right place to answer it. A lot of definitions about what cloud native applications state that they are characterized by the three points below:
[code]

Often you are given as the source of this definition. I think it's nice because it defines three distinct points i can use to discuss with others when talking about cloud native.

Unfortunately, in revis

[2019-08-01 11:15] dankohn commented on #42
Good job uncovering the history. Those three points were included in the original version of the charter, but the TOC felt that they were not fully representative of cloud native. @bgrant0607 led an effort to define the Cloud Native Definition, which was first adopted unanimously by the TOC and then unaninmously incorporated into the charter by the governing board.

I mention the evolution of the

[2019-08-01 11:15] #42 closed

[2019-08-01 11:39] ehhc commented on #42
Wow. first of all, thanks for your quick reply.
I'll watch your keynote.
Maybe i'll come back later if i have further questions, if that's okay with you.

Thanks for the explanation again... :)

[2019-08-29 18:20] jpalmerLinuxFoundation commented on #26
@dims I shared some quick mockups for you regarding the logs. Just want to get some feedback going so I can understand the need better: https://github.com/communitybridge/easycla/issues/169

[2019-09-05 22:49] caniszczyk commented on #3
https://github.com/communitybridge/easycla

[2019-09-05 22:49] #3 closed

[2019-09-05 22:51] caniszczyk opened #45 "Create list of IP Policy Exceptions based on GB voting"
We had a request to list exceptions voted by the CNCF GB to the IP Policy.

[2019-09-05 22:53] countspongebob commented on #45
Ask for this to be in some form that import into scanning scripts to support auto-exceptions. Very much needed.

[2019-09-09 18:40] caniszczyk opened #46 "Improve Conference Transparency Reports"
https://twitter.com/kiranmova/status/1171123462947008514

[2019-09-09 18:41] caniszczyk commented on #46
"Drilling further down on that 353 selected speakers - what % are new speakers, what is the spread across countries, companies, diversity groups"

[2019-09-25 21:14] cblecker commented on #36
Any update on this?

[2019-10-18 14:03] OrlinVasilev opened #54 "Bulgarian CoC"
https://github.com/cncf/foundation/pull/53

[2019-11-02 09:40] #45 closed

[2019-12-02 22:02] caniszczyk opened #63 "Add webinar guidelines"
From TOC discussion

[2019-12-04 19:24] jkirklan opened #64 "Conflict in style guides"
There are two versions of the style guide available:

https://www.cncf.io/blog/2018/09/04/the-cloud-native-computing-foundation-cncf-style-guide/
https://github.com/cncf/foundation/blob/master/style-guide.md

The style guide on github seems to be at least six months further along than the blog post.  The blog post comes up before the more current style guide on github.   I know the blog post was a

[2019-12-20 12:27] monadic opened #71 "Update Clause 6.d.ii in the TOC charter to change "engineers" to "technologists""
Clause 6.d.ii in the TOC charter says:
"ii. demonstrate an advanced level of professional experience as
engineers in the scope of CNCF"

As the TOC looks after ALL aspects of projects, community, etc, not
just "engineering".... I propose that we change "engineers" to
"technologists".

There is a quorum of TOC votes in favour.

[2019-12-20 12:34] dankohn commented on #71
I will propose to the GB for an email vote.

[2020-03-17 23:29] raravena80 opened #76 "Google docs seem too wide open"
Any anonymous hacker can type anything on a bunch of TOC-SIG Google doc. I can basically type 'Anonymous was here' from an incognito window on these Google docs (and more):

- SIG-Security notes (Ironically 😄):
  - https://docs.google.com/document/d/170y5biX9k95hYRwprITprG6Mc9xD5glVn-4mB2Jmi2g
- SIG-Runtime notes:
  - https://docs.google.com/document/d/1k7VNetgbuDNyIs_87GLQRH2W5SLgjgOhB6pDyv89MYk

[2020-03-18 00:38] caniszczyk commented on #76
I transferred this issue to here as it doesn't belong in the TOC repo

[2020-03-30 17:39] caniszczyk opened #82 "Consider expanding joint GB-TOC meeting or doing abridged meeting minutes"
https://lists.cncf.io/g/cncf-toc/message/4461

[2020-03-30 17:47] dims commented on #45
@swinslow could we please get an updated set of these exceptions?

[2020-03-30 17:54] caniszczyk commented on #63
https://github.com/cncf/foundation/blob/master/webinar-guidelines.md

[2020-03-30 17:54] #63 closed

[2020-03-30 17:54] caniszczyk commented on #26
all issues should go to https://github.com/communitybridge/easycla

[2020-03-30 17:54] #26 closed

[2020-04-01 16:34] caniszczyk opened #85 "Update project services page to break down detail on what is offered for sandbox/incubation/graduated"

[2020-04-06 21:59] caniszczyk opened #86 "Audit all CNCF projects Google Analytics"
We should do an audit of all the projects GA and ensure they are under the CNCF/LF main account.

[2020-04-06 22:01] caniszczyk commented on #85
This should involve an extra section "Service not listed here?" That basically explains to file a servicedesk ticket and the CNCF staff will be creative to fulfill the request.

[2020-04-07 12:39] caniszczyk opened #87 "Extend videos.cncf.io to include more videos"
via Liz Rice

"Tried out the Explore Videos tool - would be great if this was extended back to all the KubeCon videos not just 2019!"

[2020-04-08 15:45] caniszczyk opened #88 "Add CNCF case study guidelines"
This should be assigned to Kim

[2020-04-08 23:42] KimMcMahon commented on #88
Added to foundation
https://github.com/cncf/foundation/blob/master/case-study-guidelines.md

[2020-04-08 23:42] #88 closed

[2020-05-14 16:16] kmova opened #89 "Allow slack registrations links to directly land into specific projects"
As projects are moving from individual slacks to CNCF slack, there can be some improvement to registration workflow, for people joining CNCF slack to interact with specific project communities. Most often people join to get their questions answered at the earliest and it will help to remove any barriers in reaching the right community.

One idea could be to present with a welcome message after reg

[2020-06-19 23:40] celestehorgan opened #91 "New repo for language guidelines"
Create a new repo, `cncf/language`, to host a list of language and naming requirements for CNCF projects.

Note: I was privately circulating a [google doc](https://docs.google.com/document/d/1bnPvb6oE07Wg9rb7kBXcpHe6j85bbyltdc0h0_gil88/edit?usp=sharing) to Kubernetes collaborators for this work, it's taken on a life of its own and started circulating independently of any Kubernetes- or CNCF- work

[2020-06-20 00:15] zacharysarah commented on #91
1. Excellent choice.

2. CNCF/nomenclature? 😏

[2020-06-20 00:16] caniszczyk commented on #91
let’s chat next week, if we are codifying guidelines they be in this repo

I have some ideas to share on this too

On Fri, Jun 19, 2020 at 6:41 PM Celeste Horgan <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2020-06-25 15:00] alejandrox1 opened #93 "Rename the whitelist policy"
The CNCF has a whitelist policy: https://github.com/cncf/foundation/blob/master/whitelist-policy.md.
Associating "white" with good or allowed has implications of systematic racism.
Using another name (e.g., licence allowed list) would better describe the policy.
I think https://developers.google.com/style/inclusive-documentation#features-and-users could serve as a good reference here.

[2020-06-25 15:01] caniszczyk commented on #93
thanks, we will take care of this

[2020-06-25 15:05] caniszczyk commented on #93
done

https://github.com/cncf/foundation/blob/master/allowed-third-party-license-policy.md

[2020-06-25 15:05] #93 closed

[2020-06-25 15:49] alejandrox1 commented on #93
Thank you @caniszczyk !!
And that was super fast!

[2020-06-28 02:47] ttonline6 opened #96 "no hi.md"
https://github.com/cncf/foundation/blob/master/code-of-conduct-languages/hi.md
this page not exists

[2020-07-03 00:45] justaugustus commented on #91
xref ContribStrat issue: https://github.com/cncf/sig-contributor-strategy/issues/34

[2020-07-04 22:32] caniszczyk commented on #91
@justaugustus can you just PR a new .md to this repo which is meant for all foundation wide guidelines?

[2020-07-06 16:50] celestehorgan commented on #91
Yup, will do.

[2020-07-06 16:50] #91 closed

[2020-07-24 21:37] jfcg opened #104 "MPL"
Greetings,

Is there a spesific reason that [MPL](https://www.mozilla.org/en-US/MPL/2.0/FAQ/) is out of the [Allowlist](https://github.com/cncf/foundation/blob/master/allowed-third-party-license-policy.md)?
Afaik it is an [OSI](https://opensource.org/licenses) approved license from Mozilla, and it is open source/closed source/commercial etc. friendly.

Thanks..

[2020-07-25 00:51] caniszczyk commented on #104
The simple answer is that it's a weak copy left license versus a permissive one, which we don't allow by default.

We could go for an exception if you and the Prometheus team wishes.

You're the only contributor so you can easily re-license the code to another license. For your troubles, happy to send you a bunch of Prometheus swag if that was your thing, but all up to you: https://store.cncf.io/c

[2020-07-25 11:50] jfcg commented on #104
turns out it is probably not a much-needed feature according to prometheus team.
mpl software can be included with the exception mechanism, so closing.
thanks..

[2020-07-25 11:50] #104 closed

[2020-07-31 18:20] #96 closed

[2020-08-13 16:22] caniszczyk opened #106 "CNCF position on new Docker policy limiting image retention"
Starting Nov 1, 2020, Docker is planning to limit retention of images on Docker Hub for free accounts to 6m [1]. This will likely affect many CNCF projects that distribute binaries. For example, while the Jaeger projects makes multiple releases per year, it does not mean that all users are upgrading more frequently than 6m. We also have a number of build and CI related images that are not updated

[2020-08-13 16:27] estesp commented on #106
All it takes is a single pull in 6 mo. to reset the counter. My reading of the FAQ makes me think only truly unused images will be affected by the new image retention policy.

[code]

[2020-08-13 16:27] billimek commented on #106
From their [FAQ](https://www.docker.com/pricing/retentionfaq?mkt_tok=eyJpIjoiWVRrd05tUmhNek16TVdFeiIsInQiOiJaYndKTHdJN21PRVJcL2xwSXI0UWJNcDVTck1uTGpQSktSaGRMMU9YSENDZE1xYW9CTUZJQ3NNOGZMVFN1NVVkUHU5R2d1TEMyeXRIS21wY3A0Tm5jY1dRSDhFNUlPckxvQnR5SVg0dmkrSFwvYWtJWjB4NmFFdEhzczJqTTZXOGw2In0%3D) it looks as if the 6m timeline is only for images that haven't been pulled in 6 months as well,

Which may resu

[2020-08-13 16:30] caniszczyk commented on #106
@estesp If that is indeed the case, then I am less concerned about this having wide impact

[2020-08-13 16:46] yurishkuro commented on #106
Agreed, if pulls extend the TTL then it should not be an issue.

[2020-08-14 04:32] kmova commented on #106
There also seems to be a rate-limiting on the number of pulls per user.
https://hub.docker.com/pricing

Limited to 100-200 pulls in 6 hours.

This may impact any automated pipelines.

[2020-08-14 07:57] stefanprodan commented on #106
I think this will have a grave impact for people contributing to OSS. For example, In FluxCD org we use containers in CI to pull base images such as Alpine from Docker Hub. We will have to buy a Docker Hub account and set a pull secret in GH Actions. When people will open PRs, running "FROM alpine" in CI will either hit the 100 pulls limit or fail because the GitHub pull secret doesn't work for Gi

[2020-08-14 13:06] estesp commented on #106
@stefanprodan what gave you the impression Docker would limit pulls of [their own] official images? (otherwise known as the `library/` repo on DockerHub). Who would they charge to remove the limit? Themselves? That would make no sense at all. If there is any confusion around official images, I sure hope Docker will clarify.

[2020-08-14 13:12] stefanprodan commented on #106
@estesp that's a question Docker can answer, on their website there is no exception listed. Unless you pay for a Docker Hub account, you can't pull more than 200 images/6h, this limit is per Docker account.

[2020-08-14 13:15] tomkerkhove commented on #106
What about anonymous pulls? 🤔

[2020-08-14 13:16] estesp commented on #106
@stefanprodan I think you nailed the confusion point. You are talking about pulls/user, and Docker *seems* to be talking about pulls/image. How can you limit an unauthenticated user on how many pulls they can perform across a time period? You don't know who they are? The pull limits are per image, and what you are paying for is removing the pull limits on your images--that's my understanding.

[2020-08-14 13:19] stefanprodan commented on #106
<img width="977" alt="Screenshot 2020-08-14 at 16 18 18" src="https://user-images.githubusercontent.com/3797675/90253419-cc501280-de49-11ea-9057-bba5d415e5f4.png">

Anonymous pulls are limited to 100/6h based on source/ip.

[2020-08-14 14:18] stefanprodan commented on #106
@tomkerkhove my understanding is that there are no anonymous pulls for images owned by a paying customer. Anonymous pulls work for images owned by a free account and they are limited to 100 pulls/6h based on source/ip.

[2020-08-14 14:29] tomkerkhove commented on #106
Hm from the image above it looks like anonymous pulls are still allowed, but just throttled on 100 pulls/6h. Damn this is not ideal for OSS projects. We'll need to move KEDA to something else now as we only get 3.6 pulls per minute.

[2020-08-14 15:27] justincormack commented on #106
@estesp yes we are limiting pulls per image, including official images, and the charge is for the pulling user not the image owner. Anonymous pulls will be rate limited per IP address if the user is unauthenticated, by userid if authenticated.

We understand that this is going to be somewhat inconvenient, and we will have some free plans for open source projects coming before this goes live, but t

[2020-08-14 16:01] estesp commented on #106
Got it; thanks for the clarification @justincormack. @stefanprodan: seems like your reading comprehension was better than mine in this case 😅

A minor point about IP address tracking: this tends to bite large enterprises in very surprising ways with egress NAT for 1000s of employees ending up only using a handful of IPs.

I assume the same will be true for those using shared services like Actions,

[2020-08-14 16:30] justincormack commented on #106
Large organizations should consider running a pull through cache, most CI providers do already. One of the issues of free bandwidth is that people have not felt any need to run local caches for clusters or CI.

Also don't forget the Dragonfly CNCF project for P2P image distribution https://github.com/dragonflyoss/Dragonfly

[2020-08-17 08:45] bboreham commented on #106
@justincormack do you have any reference for running a pull-through cache?  I know you can [use the Docker registry](https://docs.docker.com/registry/recipes/mirror/] but not for `quay.io`, `k8s.gcr.io`, etc., and alternatives I've come across have disadvantages such as not enforcing authentication.  (Maybe that's ok for the 'large organization' case under discussion)

[2020-08-20 22:30] BretFisher commented on #106
more info on technicals of pull limits, with more blog/faq coming next week https://docs.docker.com/docker-hub/download-rate-limit/

[2020-08-24 18:40] mswilson commented on #71
Any update on this?

Also consider changing this at the very top of the CNCF Charter.

[2020-08-31 15:38] caniszczyk opened #107 "Update "Keep Cloud Native Well" program with OSMI to reflect the move to virtual"

[2020-09-01 14:26] idvoretskyi opened #109 "Audit the licenses of CNCF projects with FOSSA"
FOSSA license scanning for all the repos (that include code) in the CNCF project organizations should be enabled:
https://github.com/fossas/fossa-cli

[2020-09-01 14:50] caniszczyk commented on #109
@idvoretskyi FYI this should be "license scanning" where FOSSA is one option.

We have some projects that use Snyk and WhiteSource already and those are fine options too.

[2020-09-01 14:54] idvoretskyi commented on #109
@caniszczyk good point, thanks!

[2020-09-02 10:56] idvoretskyi commented on #106
For the record: https://github.blog/2020-09-01-introducing-github-container-registry/

[2020-09-23 08:09] Pothulapati opened #112 "CodeSearch tool for CNCF projects"

[2020-09-23 08:10] #112 closed

[2020-09-23 08:49] Pothulapati opened #113 "Code Search for CNCF Projects"
## Introduction

CNCF currently has a really powerful set of developer tools that makes contributors life easier. Starting from [Project](https://github.com/kubernetes/test-infra) [Specific workflow](https://github.com/kubernetes/test-infra/tree/master/prow)  [tools](https://github.com/prometheus/test-infra) to [Common Project-level Monitoring tools](https://devstats.cncf.io/), there are a wide ar

[2020-09-23 10:05] raukadah commented on #113
Hound is also pretty awesome tool for self hosted codesearch solution  https://github.com/hound-search/hound . In OpenStack & RDO community uses it.
* http://codesearch.openstack.org/
* https://review.rdoproject.org/codesearch/

[2020-09-23 16:56] justaugustus commented on #113
I love this idea!

[2020-09-29 22:40] caniszczyk commented on #113
I'll work on this, I already know the folks there well.

Note, this kind of currently exists via https://sourcegraph.com/search?q=repogroup:cncf+config&patternType=regexp

However, we can do a nicer landing page and so on, stay tuned.

[2020-09-29 22:41] caniszczyk commented on #107
This is being worked on for KubeCon NA 2021 by the events team!

[2020-09-29 22:43] arun-gupta commented on #107
can we keep the ticket open until a link is available?

[2020-09-29 22:44] caniszczyk commented on #107
@arun-gupta np!

[2020-09-29 22:44] caniszczyk commented on #85
The "services for projects" page was updated significantly

https://www.cncf.io/services-for-projects/#other-services

[2020-09-29 22:44] #85 closed

[2020-09-29 22:45] caniszczyk commented on #82
CNCF GB abridged meeting minutes are posted here: https://www.cncf.io/about/governing-board-meeting-minutes/

[2020-09-29 22:45] #82 closed

[2020-09-29 22:46] caniszczyk commented on #46
These have been significantly improved over time:

https://www.cncf.io/blog/2020/01/09/kubecon-cloudnativecon-north-america-2019-conference-transparency-report-the-biggest-kubecon-cloudnativecon-to-date/

[2020-09-29 22:46] #46 closed

[2020-09-30 06:37] Pothulapati commented on #113
@caniszczyk That's awesome to hear! :+1:
I am happy to help if there is any need!

[2020-10-02 12:56] jlstephens89 commented on #106
[Proxying Docker images](https://help.sonatype.com/repomanager3/formats/docker-registry) via an OSS instance of Nexus Repository Manager would be one way to reduce concerns around rate limiting from DockerHub.

[2020-10-04 09:30] irajtaghlidi opened #114 "Add Farsi to other languages available list in code-of-conduct"
Add Farsi language to the list of 'other languages available' in code-of-conduct.

[2020-10-05 15:33] sqs commented on #113
@caniszczyk: The nicer landing page for CNCF code search is up! https://sourcegraph.com/cncf

We're tracking the work in https://github.com/sourcegraph/sourcegraph/issues/14318 on our side (cc and thanks to @poojaj-tech @limitedmage @attfarhan @lguychard @bobheadxi). Some TODOs still on our end include:

- setting up precise ([LSIF-based](https://lsif.dev/), eg using [lsif-go](https://github.com/s

[2020-10-05 22:54] jberkus opened #117 "Consider creating a multi-project CoC committee"
CNCF,

Larger projects like Kubernetes and Helm have their own committees for CoC enforcement.  However, many smaller projects have difficulty staffing a diverse and balanced CoC committee because they just have too few contributors involved.  That doesn't mean they don't need one, though; referring all CoC enforcement to a Linux Foundation staff member is both too much work for that staff member,

[2020-10-06 16:03] caniszczyk commented on #113
I'll consider this closed for now given that the site is up, please offer feedback here: https://github.com/sourcegraph/sourcegraph/issues/14318

Thanks for the idea @Pothulapati and thanks to sourcegraph for the tool :)

[2020-10-06 16:03] #113 closed

[2020-10-14 17:14] bacongobbler commented on #106
As a heads up to other CNCF projects: everyone should review their own CI pipelines and make sure they log in to DockerHub before pulling any images - even base images required to run the CI job itself. Docker Hub imposes rate limits based on the originating IP. Since CircleCI (along with many other CI providers) run jobs from a shared pool of IPs, it is highly recommended to use authenticated Doc

[2020-10-14 17:21] stefanprodan commented on #106
@bacongobbler when using GitHub Actions adding the Docker auth will break CI for PRs, the GitHub secrets are not shared in forks and for good reason.

[2020-10-14 17:23] estesp commented on #106
If anyone is interested in a discussion on long-term ideas around this issue with representation from Docker and most cloud providers/registries, the OCI weekly call today (14 Oct @ 2pm US Pacific) will be covering this topic: https://hackmd.io/El8Dd2xrTlCaCG59ns5cwg#October-14-2020

[2020-12-02 02:33] caniszczyk opened #123 "Phippy Characters for Graduated Projects"
I'd love to explore creating custom Phippy style characters for graduated projects

[2020-12-24 08:41] sakshamgurbhele opened #128 "README.md file issues"
**ISSUES**

![README errors](https://user-images.githubusercontent.com/64558515/103075034-d43a7300-45f0-11eb-970d-e2c29d427fcd.png)

[2020-12-24 09:19] sakshamgurbhele commented on #128
I can fix this

[2020-12-26 20:48] #128 closed

[2021-01-14 11:54] idvoretskyi opened #130 "Audit CLA/DCO for all CNCF projects"
CNCF's IP policy (https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy) requires all projects to use either CLA (Contributor License Agreements) or DCO (Developer Certificate of Origin). Unless there's a strong necessity to use CLA, we encourage projects to use DCO as it's easier to setup and use.

Projects that are missing the CLA/DCO are asked to enable DCO for their respective

[2021-02-16 19:05] dims commented on #26
This is still not fixed for kubernetes ... https://github.com/kubernetes/kubernetes/pull/98735#issuecomment-772776508

@caniszczyk can you please reopen this?

[2021-02-16 19:30] caniszczyk commented on #26
@dims leaving this closed and instead opening the issue here for you https://github.com/communitybridge/easycla/issues/2664

EasyCLA team will take it over, less a CNCF thing and more an EasyCLA issue

[2021-02-16 19:32] dims commented on #26
@caniszczyk thanks!

[2021-02-17 18:10] caniszczyk commented on #106
https://github.com/cncf/servicedesk#my-project-is-affected-by-the-docker-hub-rate-limits-policy-changes-what-can-i-do

[2021-02-17 18:10] #106 closed

[2021-02-17 19:27] mattfarina opened #138 "License exemption for github.com/hashicorp/go-retryablehttp"
github.com/hashicorp/go-retryablehttp is an MPL-2.0 project that is not currently listed as an exemption. We are asking it be added as an exemption so it can be used.

Would it be possible to get either a blanket MPL-2.0 exemption or an exemption for all of the hashicorp MPL-2.0 projects, instead?

[2021-02-25 12:24] phlax opened #140 "Update master branch -> main"
As im updating envoy's references to `master` (https://github.com/envoyproxy/envoy/pull/15190) im tracking which related projects have already switched

[2021-03-09 20:11] dims opened #143 "Applying Apache License to source code"
Projects like Kubernetes and Containerd are using automation and file templates to apply the license:
Kubernetes (Main repo) : https://github.com/kubernetes/kubernetes/tree/master/hack/boilerplate
Containerd : https://github.com/containerd/project/tree/master/script/validate/template

However ASF guidance here seems to indicate a shorter SPDX version is fine:
http://www.apache.org/foundation/licen

[2021-03-09 21:07] swinslow commented on #143
Hi @dims -- weighing in from the CNCF / LF side, yes, we are totally fine with using a short-form SPDX license identifier rather than the lengthier "standard license header".

From our view, either of the models shown at http://www.apache.org/foundation/license-faq.html#Apply-My-Software is fine to use. We regularly recommend to projects that they use the shorter-form version, as a simpler and les

[2021-03-09 21:10] dims commented on #143
Thanks @swinslow could we please add this to one of the markdown files? possibly https://github.com/cncf/foundation/blob/master/allowed-third-party-license-policy.md

[2021-03-09 21:16] swinslow commented on #143
Sure -- I'd suggest, let me add something to a new license-notices.md as a counterpart to the existing file [copyright-notices.md](https://github.com/cncf/foundation/blob/master/copyright-notices.md). It's a related concept but I think it will be helpful to keep separate from that file.

[2021-03-09 21:22] justaugustus commented on #143
This is great to see and something I've been thinking as we continue to explore establishing software bills of materials in Kubernetes: https://github.com/kubernetes/release/issues/1837

Thanks for opening this issue, @dims, and for the feedback, @swinslow!

[2021-03-10 21:43] chalin commented on #140
This repo is a container for markdown files so, IMHO, it should be safe, quick and easy to do the rename since GitHub handles redirects. For details, see:

- [github/renaming][]
- [Links to deleted branches now redirect to the default branch][]

@amye @caniszczyk : would you like me to handle it? (Or maybe @idvoretskyi has the necessary permissions?)

Has someone started to track this change for a

[2021-03-10 21:49] idvoretskyi commented on #140
@chalin the Kubernetes community is in progress on the switch for multiple repos, and I’m going to track the switching of master->main branches for other CNCF projects after Kubernetes will complete this.

What we’ll do next - add another column to the https://github.com/cncf/toc/blob/main/docs/PROJECTS.csv file, and track the switched projects there.

[2021-03-18 18:12] xmulligan opened #145 "Updating where Kubernetes Community Day points to"
Can you redirect https://kubernetescommunitydays.org/ to https://community.cncf.io/kubernetes-community-days/about-kcd/?

[2021-03-29 17:23] caniszczyk commented on #145
done

[2021-03-29 17:23] #145 closed

[2021-03-31 18:46] tigrannajaryan commented on #138
+1 to this request. We have the [same need at OpenTelemetry](https://github.com/open-telemetry/community/issues/688), we want to use several hashicorp dependencies which are MPL-2.0 and would greatly benefit from blanket MPL-2.0 exemption.

[2021-04-13 01:35] #143 closed

[2021-04-14 10:22] idvoretskyi opened #149 "master -> main branch rename (umbrella issue)"
This is an umbrella issue that tracks branch renaming from master -> main across the CNCF projects.

Ref.: https://github.com/github/renaming

[2021-05-06 18:27] caniszczyk opened #152 "Take a look at https://www.getro.com to replace the jobs.cncf.io board"
https://www.getro.com looks like it has more than just a jobs board option, has networking etc

[2021-06-04 13:24] nikhita commented on #138
+1, would be useful for Kubernetes as well - https://github.com/kubernetes/steering/issues/210

[2021-06-04 13:32] nikhita commented on #138
cc @swinslow @caniszczyk

[2021-06-04 16:24] caniszczyk commented on #138
As a followup, the GB decided to not grant a blanket exception to hashi
libs but will approve things on an individual basis.

I expect a vote to happen within a month on this but I'm not worried as the
GB intended to follow the status quo of approving the previous libraries.

So thanks for your patience.

On Fri, Jun 4, 2021 at 7:33 AM Nikhita Raghunath ***@***.***>
wrote:

--
Cheers,

Chris Anisz

[2021-06-23 23:09] celestehorgan commented on #143
cc:

https://github.com/cncf/project-template/pull/12
https://github.com/cncf/techdocs/issues/22

[2021-06-30 01:15] indrora opened #158 "Clarify AGPL3 allowance for member projects"
Recently, [7 members of the CNCF Landscape](https://landscape.cncf.io/card-mode?grouping=license&license=gnu-affero-general-public-license-v3-0) have decided to move to AGPLv3; most recently [Minio made this change](https://github.com/minio/minio/commit/069432566fcfac1f1053677cc925ddafd750730a) with [confusion about the copyright status of contributions](https://github.com/minio/minio/issues/12155

[2021-06-30 01:21] amye commented on #158
This should probably be filed under https://github.com/cncf/landscape/issues instead of /foundation?
Unless I'm missing the question here, it's directly related to the landscape.

@indrora, am I correct that you're looking for guidance on the landscape and not the CNCF as a whole?

[2021-06-30 01:51] indrora commented on #158
@amye A little of both. I put this here because it's more a meta-question about projects in the CNCF.

To the lay reader (such as myself) it becomes hard to distinguish "the CNCF Foundation" and members of the CNCF Foundation, the landscape and its constituent projects are held together

If this ticket would be better ported over to `landscape` then I'll close and put it there.

[2021-07-02 18:22] indrora commented on #158
Any update on this or should I move it to the `landscape` repo?

[2021-07-05 13:24] roidelapluie commented on #158
As far as I know the landscape does not really care about the license. The only question is is it released under an OSI approved license or not. There are also a lot of proprietary tools there.

[2021-07-05 18:42] caniszczyk commented on #158
That's correct, everything is welcome on the landscape as long as the new entries terms are met, open source or not: https://github.com/cncf/landscape#new-entries

[2021-07-05 18:42] #158 closed

[2021-07-12 22:00] caniszczyk opened #160 "Update CNCF Code of Conduct to reflect latest CC 2.0 version"
We are overdue an update since we based the CoC on v1.2 and there's been some newer versions out:
https://www.contributor-covenant.org/version/2/0/code_of_conduct/

Have a discussion with the Kubernetes Code of Conduct Committee also before finalizing everything and get their sign off.

[2021-07-13 20:00] AaronFriel opened #161 "How to report divergence from CNCF requirements?"
I cannot find the proper place to submit commentary on a CNCF project, but it may be the the case that a project has in recent months shifted away form meeting the guidelines for CNCF project inclusion.

The [Sandbox Guidelines](https://github.com/cncf/toc/blob/main/process/sandbox.md) require:

Recent changes to a sandbox project appear to cause it to diverge dramatically from the requirements fo

[2021-07-13 20:08] caniszczyk commented on #161
You can shoot me a note @AaronFriel or info@cncf.io

[2021-07-13 20:32] caniszczyk commented on #161
Thanks, we connected over email!

[2021-07-13 20:32] #161 closed

[2021-08-04 15:57] roidelapluie commented on #130
It seems that Kuma still has Kong' CLA: https://github.com/kumahq/kuma/pull/2494

[2021-08-04 15:59] subnetmarco commented on #130
@roidelapluie Whoops, we certainly have to change that. Thanks for pointing it out.

[2021-08-04 16:00] caniszczyk commented on #130
Marco, just move to https://github.com/apps/dco and drop the CLA, it will
be easier for you

On Wed, Aug 4, 2021 at 10:59 AM Marco Palladino ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-08-05 16:52] thomastaylor312 opened #172 "License exception for https://crates.io/crates/webpki-roots"
https://crates.io/crates/webpki-roots is an MPL-2.0 project that is not currently listed as an exemption. We are asking it be added as an exemption so it can be used as it is a transitive dependency in several major Rust projects. In particular, this was brought up because of its [use in Krustlet](https://github.com/cncf/toc/issues/690#issuecomment-892874955).

Also, with MPL-2.0, is there some so

[2021-08-05 16:58] caniszczyk commented on #172
@amye can you queue this up with swinslow?

[2021-08-08 08:14] AkihiroSuda opened #174 "License exception for `GPL-2.0 WITH Linux-syscall-note` file in containerd/btrfs"
**EDIT (March 28, 2023)**: See https://github.com/cncf/foundation/issues/174#issuecomment-1485584856 for the current situation

- - -

<details><summary>(Original post on Aug 2021)</summary><p>

We containerd maintainers would like to include a file that is machine-translated from a [`GPL-2.0 WITH Linux-syscall-note`](https://github.com/torvalds/linux/blob/v5.13/LICENSES/exceptions/Linux-syscall-n

[2021-08-08 10:59] dims commented on #174
cc @swinslow @caniszczyk

[2021-08-19 19:22] amye opened #180 "Friendly Neighborhood Onboarding Bot"
We've got a backlog of onboarding sandbox projects, and we could use a friendly GH actions bot that reminds people ~once a week or so of outstanding items.
@idvoretskyi: can you take a look and see what's possible with GH actions for this?

[2021-09-09 13:24] luebken opened #187 "License exception for hashicorp/terraform projects"
The following projects by Hashicorp are MPL 2.0 licensed and we would like to ask for an exception so the Terraform-based providers can be part of the Crossplane project.

* github.com/hashicorp/terraform-plugin-sdk
* github.com/hashicorp/terraform-provider-aws
* github.com/hashicorp/terraform-provider-azurerm
* github.com/hashicorp/terraform-provider-google

For more information about the integra

[2021-09-14 08:03] AkihiroSuda commented on #174
@swinslow @caniszczyk @amye Could you take a look?

[2021-09-14 19:53] caniszczyk opened #189 "Update Copyright Notices FAQ for "copy a file or a method from another repo into my repo""
We should expand on this answer:

https://github.com/cncf/foundation/blob/master/copyright-notices.md#what-about-third-party-code

Essentially, most people will copy a method from a project that falls under our allowlist policy:
https://github.com/cncf/foundation/blob/master/allowed-third-party-license-policy.md#approved-licenses-for-allowlist

How is attribution properly done that would keep CNCF

[2021-09-20 19:31] #189 closed

[2021-09-23 16:01] amye opened #200 "Update localization with new code of conduct updates"
https://github.com/cncf/foundation/pull/194 will require us to update https://github.com/cncf/foundation/tree/master/code-of-conduct-languages, and there's a lot in here.

Will work with @celestehorgan to reach out to authors for updates.

[2021-09-26 21:05] westurner commented on #152
Hadn't been aware of https://jobs.cncf.io/ either, thx

[2021-09-27 19:44] AkihiroSuda commented on #174
@stevvooe Do we still need to keep this open, or do you find a way to avoid cgo without importing GPL-2.0 WITH Linux-syscall-note header?

[2021-10-19 18:09] amye commented on #200
@celestehorgan - we can pick this back up again!

[2021-10-19 18:11] #123 closed

[2021-11-04 20:44] caniszczyk opened #226 "Cilium license exceptions required"
https://github.com/search?p=1&q=org%3Acilium+gpl&type=Code

[2021-11-07 16:19] caniszczyk opened #227 "Update jobs.cncf.io to have labels for open source work"
There's been some discussion about having jobs on jobs.cncf.io indicate that a percentage of their time will be spent on developing open source software, including upstream work. I'm thinking of adding labels similar to how jobs describe how much travel would be expected:

* 25% Open Source
* 50% Open Source
* 75% Open Source
* 100% Open Source

Another idea is separating out working on open sourc

[2021-11-08 03:40] cjyabraham commented on #227
Note we can make these taxonomy choices "required" so that people have to designate what percent of the job is open source when creating the posting, or we can leave it as optional.

[2021-11-08 10:28] puja108 commented on #227
Could ranges make sense instead of distinct values? From what I'm seeing at least within our engineers, people with the same role differ in their amount of upstream work, mainly due to personal preference, but sometimes also by the specificity of project they might be currently working on.

[2021-11-09 15:02] cjyabraham commented on #227
I momentarily put up a test job posting to test out these new taxonomies.  Here is the job submission screen:
<img width="715" alt="Screen Shot 2021-11-09 at 9 59 39 AM" src="https://user-images.githubusercontent.com/463160/140948378-69e03c5c-7242-4f5e-a153-0885f3e0f30d.png">

How the job looks when posted:
<img width="1136" alt="Screen Shot 2021-11-09 at 10 02 20 AM" src="https://user-images.gith

[2021-11-09 16:53] parispittman commented on #227
Thank you so much!!! This is a great value add to the community.

For the values for Open Source Time: 25%, 50%, 75%, Other (in job description) would be perfect.
Folks who select other could be the voices around: "do what you need to do to get the work done", "we're new at this and trying to figure it out but help us?",

[2021-11-09 17:25] todaywasawesome commented on #227
Love it, this is great.

[2021-11-09 21:21] jberkus opened #230 "Need policy clarification on documentation licensing"
Our charter has this confusing language about documentation licensing:

[code]

Thus all project materials must be available under the AL2, but all documentation must be available under CCBY.  This language has always been contradictory.

Most projects have taken this to mean that documentation, particularly documentation that is embedded in code repos, *may* be licensed under either AL2 or CCBY,

[2021-11-10 09:29] puja108 commented on #227
Thanks so much! This is perfect timing as I was adding more about upstream work to our job descriptions ❤️

[2021-11-10 14:05] cjyabraham commented on #227
Hi @parispittman, I don't think what you suggest will work because the tags just appear without context, so if a tag showed up as "Other (see job description)" no one would know that that was referring to open source time.  I think in such a case people could just not choose an open source allocation tag and could describe the situation in the job description?

[2021-11-10 14:06] cjyabraham commented on #227
I have deployed the tags live on the site.  Note that descriptions of the tags do show up when people search using one of the tags:
<img width="1302" alt="Screen Shot 2021-11-10 at 9 03 14 PM" src="https://user-images.githubusercontent.com/463160/141127617-ee929ccd-d951-40ea-a71a-706284176b47.png">
<img width="1326" alt="Screen Shot 2021-11-10 at 9 03 45 PM" src="https://user-images.githubusercont

[2021-11-10 14:47] cjyabraham commented on #227
We've changed "Upstream Friendly" to have a higher bar of entry by calling it "Upstream Commitment".

[2021-11-10 15:03] caniszczyk commented on #227
Thanks @cjyabraham, can we ensure the descriptions are updated for these things in https://jobs.cncf.io/about and that anyone that has an Upstream Commitment gets a free featured job marker.

[2021-11-11 04:45] cjyabraham commented on #227
I have added an FAQ on [the About page](https://jobs.cncf.io/about) to define the tags.  I have also asked @libbyschulze to promote jobs marked "Upstream Commitment".

[2021-11-11 18:14] caniszczyk commented on #227
thanks :)

[2021-11-11 18:14] #227 closed

[2021-11-17 07:29] SergeyKanzhelev opened #238 "grpc maintainers: Bogdan Drutu affiliation is incorrect"
https://github.com/cncf/foundation/blob/master/project-maintainers.csv

Bogdan Drutu's affiliation is now Splunk

cc: @bogdandrutu

[2021-11-21 14:32] Rossiar opened #254 "Code of Conduct spelling mistake"
There is a minor spelling mistake in the code of conduct on [this line](https://github.com/cncf/foundation/commit/d6ac18a62211414a29d17d640717e9925f71d534#diff-f1a69a41a835b5265e1c58e11395a894ac30fc6b0afe1ca834738955261d2ec5R40) where
`iconjunction` should read `in conjunction`

[2021-11-22 06:44] Noel-Dason commented on #254
I am really new to open source and would like to contribute by fixing this issue, could you please tell me how I should go forward with this?

[2021-12-13 15:45] caniszczyk opened #264 "Audit projects still using Circle CI"
Intention to move them to GHA

We can put this on the early 2022 list

[2021-12-15 01:51] Jongaebe opened #267 "GTM & Attribution- For Farmers Page"
We want to carry along form submission data to Hubspot so we track things correctly from a lead attribution standpoint.

Currently we only understand when users submit the form at the end. We do not know when users click through the form and when they exit.

- [ ] Meet with Harrison to find out what needs to be done
- [ ] Create Task List
- [ ] Run this by Vlad and Vox
- [ ] Implement changes
- [

[2021-12-15 01:51] Jongaebe commented on #267
wrong project

[2021-12-15 01:51] #267 closed

[2021-12-21 20:43] amye commented on #264
Tagging @idvoretskyi since I can't reassign. Weird.

[2021-12-21 20:44] idvoretskyi commented on #264
@caniszczyk @amye SGTM, for some reason I didn't see this.

[2022-01-05 19:51] bogdandrutu commented on #138
@caniszczyk any update on this?

[2022-01-12 17:57] pritianka opened #275 "Priyanka Growth - Build a meditation practice"

[2022-01-17 07:58] scottrigby commented on #149
duplicate of #140?

[2022-01-17 08:05] idvoretskyi commented on #149
@scottrigby this is a CNCF-owned umbrella issue for the tracking purposes, but that’s for flagging.

[2022-01-17 17:35] #275 closed

[2022-01-17 17:36] #140 closed

[2022-01-17 17:38] caniszczyk commented on #76
closing as this doesn't seem to be a huge issue and hasn't come up recently

[2022-01-17 17:38] #76 closed

[2022-01-17 17:42] noelmcloughlin opened #281 "Register CNCF as persistent identifier namespace on the Web"
Please consider registering CNCF as a persistent identifier namespace on the Web.

Web applications dealing with Linked Data often need URLs that are very stable. Registering CNCF as a persistent identifier namespace allows member projects to leverage the service to register their own sub-namespaces, vocalabaries, and glossaries. For example, CNCF projects publish their vocabulary at: https://w3id

[2022-01-26 17:06] caniszczyk opened #290 "Updating Export Control Guidance"
The Kubernetes SC has requested that the LF look at updating our guidance on export control in relation to the kubernetes security disclosure process and security disclosure in particular:

https://www.linuxfoundation.org/tools/understanding-us-export-controls-with-open-source-projects/

The goal output here would be an update to the above document based on any input through the exercise.

[2022-01-26 17:25] dims commented on #290
We request the LF Legal team to vet the current SRC process [1] and update the LF/CNCF guidance, specifically, we want to know if the process SRC documented has any implications for folks in companies that are in the Export Administration Regulations Entity List. Currently these folks may be:

Case 1: A reporter of security related issues using the security mailing list requests status on their re

[2022-01-31 06:57] shubham1172 opened #292 "Allowlist license policy for storing in designated third-party folder"
Hi, I was reviewing the third-party license policy here [CNCF Allowlist License Policy](https://github.com/cncf/foundation/blob/main/allowed-third-party-license-policy.md#cncf-allowlist-license-policy) which says

Can you please clarify point 2? Does it mean that all third-party dependencies under a non-Apache 2.0 license must be stored in a designated folder in the main repository?

For example,

[2022-02-02 09:55] shubham1172 opened #294 "License compliance clarification for unlisted projects"
Hi,

The following projects are used by software under CNCF today, but these do not comply with [CNCF Allowlist License Policy](https://github.com/cncf/foundation/blob/main/allowed-third-party-license-policy.md#cncf-allowlist-license-policy) and are not listed under [License exceptions](https://github.com/cncf/foundation/tree/main/license-exceptions). We are looking to understand the status of the

[2022-02-08 05:29] shubham1172 opened #297 "Dapr license exceptions required"
Hello, we are looking to get licensing exceptions for the following repositories for usage in Dapr.

| Repo URL| License | Stars | Forks|
|--|--|--|--|
| https://github.com/hashicorp/go-version| MPL-2.0| 1029| 121|
| https://github.com/hashicorp/raft| MPL-2.0| 5644| 750|
| https://github.com/hashicorp/raft-boltdb| MPL-2.0| 425| 98|
| https://github.com/Microsoft/tslib| 0BSD| 933| 92|
| https://git

[2022-02-10 21:28] aimichelle opened #300 "License exception for hashicorp/go-plugin"
Hello! We were thinking of implementing a plugin system for Pixie and were looking into possible frameworks we could use. We're interested in using the following framework:
- github.com/hashicorp/go-plugin

It is currently on the MPL 2.0 license, so would like to see if this could be granted an exception.

[2022-02-10 21:30] amye commented on #300
Assigning to me, adding licensing label.

What's your timeline for implementation, so that I know?

[2022-02-10 21:33] aimichelle commented on #300
We were already actively working on the implementation, and just realized it was on the MPL license.
Being able to know soon would be amazing, so that we can quickly change direction if needbe!

[2022-02-10 21:55] aimichelle opened #301 "Pixie license exceptions"
Pixie currently pulls in some indirect dependencies with the MPL 2.0 License.
Would it be possible to get an exception for these packages?

- github.com/hashicorp/go-immutable-radix (from our dep on github.com/nats-io/nats-streaming-server)
- github.com/hashicorp/raft (from our dep on github.com/nats-io/nats-streaming-server)

Thank you!

[2022-02-15 22:03] aimichelle commented on #300
Hi @amye ! Just wanted to check back in on this. Do you know what the approximate timeline looks like for the exception process?

[2022-02-15 22:17] amye commented on #300
Unfortunately, I can't give a good timeline here, as this requires GB approval.
As soon as I know when the GB is reviewing these, I'll let you know! (by posting here)

[2022-02-18 15:42] Werkuchere commented on #300
😍😍😘

[2022-02-19 03:16] Udik2021 opened #304 "c4ef1d4b814ae8d2e55af0c8815b80ab9c70d6b0"

[2022-02-20 19:09] #304 closed

[2022-03-02 18:49] caniszczyk commented on #238
moving this to devstats repo

[2022-03-02 18:50] caniszczyk commented on #180
this is essentially becoming https://clomonitor.io

[2022-03-02 18:50] #180 closed

[2022-03-02 18:50] caniszczyk commented on #130
this is happening via https://clomonitor.io/

[2022-03-02 18:50] #130 closed

[2022-03-10 23:12] amye commented on #172
Connecting back in here, we are getting these underway for an April vote!

Here's the new template that we're working with projects on:
For all license exception requests, we need the following information in order to help make a decision to grant an exception.
- [] What is the alternative license?
- [] If this is newly created code, why can't it be under Apache-2.0?
- [] Is this an existing 3rd p

[2022-03-10 23:14] amye commented on #174
@AkihiroSuda  - connecting back in here, I'm getting a process set up for our next board meeting.

For all license exception requests, we need the following information in order to help make a decision to grant an exception.
- [ ] What is the alternative license?
- [ ] If this is newly created code, why can't it be under Apache-2.0?
- [ ] Is this an existing 3rd party open source project?
- [ ] Ho

[2022-03-10 23:15] amye commented on #187
@luebken, waking this up again! I'm pulling things together for an April vote.

For all license exception requests, we need the following information in order to help make a decision to grant an exception.
- [ ] What is the alternative license?
- [ ] If this is newly created code, why can't it be under Apache-2.0?
- [ ] Is this an existing 3rd party open source project?
- [ ] How does this code in

[2022-03-10 23:16] amye commented on #297
@shubham1172  - connecting back in here!

For all license exception requests, we need the following information in order to help make a decision to grant an exception.
- [ ] What is the alternative license?
- [ ] If this is newly created code, why can't it be under Apache-2.0?
- [ ] Is this an existing 3rd party open source project?
- [ ] How does this code integrate with or interact with, if at a

[2022-03-10 23:17] amye commented on #300
I can now give you a timeline -- we're gearing up for an April vote!

Here's what we need to know!

For all license exception requests, we need the following information in order to help make a decision to grant an exception.
- [ ] What is the alternative license?
- [ ] If this is newly created code, why can't it be under Apache-2.0?
- [ ] Is this an existing 3rd party open source project?
- [ ] H

[2022-03-10 23:18] amye commented on #301
Same thing as #300:

For all license exception requests, we need the following information in order to help make a decision to grant an exception.
- [ ] What is the alternative license?
- [ ] If this is newly created code, why can't it be under Apache-2.0?
- [ ] Is this an existing 3rd party open source project?
- [ ] How does this code integrate with or interact with, if at all, other components

[2022-03-11 00:48] thomastaylor312 commented on #172
**What is the alternative license?**

Not entirely clear on what this means in this context, but there is no "alternative license" for this project. It is only licensed under MPL-2.0

**If this is newly created code, why can't it be under Apache-2.0?/Is this an existing 3rd party open source project?**

N/A. This is an existing 3rd party open source project

**How does this code integrate with or

[2022-03-11 01:27] amye commented on #172
That's what I needed!
I realize the questions aren't *as* applicable, but this gets us started. I'll let you know if legal has more questions, but my next steps are 1) drafting this for legal review, 2) they give me the green light, 3)we put this to the GB for review and 4) a vote.
I will let you know if I have more!

[2022-03-11 01:36] amye commented on #89
@kmova:
Slack doesn't currently allow for just 'individual channel invites' unless you're doing single channel guests, which makes for a bad community experience.
Instead, link on your project page to your project channels specifically?

[2022-03-11 05:45] shubham1172 commented on #297
Thanks @amye for getting back.

**(1) What is the alternative license?**

All the projects mentioned above are single licensed except https://github.com/eclipse/paho.mqtt.golang - it is dual licensed, _Eclipse Distribution License - v 1.0_ and _Eclipse Public License - v 2.0_

**(2) If this is newly created code, why can't it be under Apache-2.0?**

All of them are old (>5 years on an average), th

[2022-03-14 06:23] shubham1172 commented on #294
@amye I see that this was added and removed from the license exceptions project board. Will this be also addressed in the next meeting? Is there any other information that I can provide here?

[2022-03-15 01:04] amye commented on #294
This has several requests in it which make it difficult to track, and right now I'm prioritizing project requests directly.
However, it is likely that many of these will be resolved in this next round of reviews.

[2022-03-15 03:07] shubham1172 commented on #294
Okay, please let me know if I can help sorting them in any way to make it easier for tracking. We can also track them as a part of #297 if that is easier.

[2022-03-15 03:21] amye commented on #294
Appreciated! We're just now rolling out a more direct process for this to be able to help deal with backlog, I will leave this open as we work through this.

[2022-03-15 03:47] shubham1172 commented on #294
Thank you @amye!

[2022-03-16 18:06] amye opened #317 "Transitioning Knative into CNCF"
This one has a few moving parts, so I want to make sure we're tracking various workstreams here.

Full agreements from:
- [x] Google
- [x] Red Hat
- [x] VMWare

Specific streams: GCP is currently tracking here, more to be added as needed.
GCP:

- [x] Domain name
- [ ] Account created by LFIT
- [ ] Credit transfer

[2022-03-25 17:28] dims commented on #290
Any update on this @caniszczyk ?

[2022-03-25 17:50] caniszczyk commented on #290
Still a WIP, a new draft is with our legal folks, needs a bit more time.

On Fri, Mar 25, 2022 at 6:28 PM Davanum Srinivas ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-04-12 22:44] dims opened #329 "Document Directors and Officers Insurance (and other coverage)"
One of the items in the ask from k8s steering was about [Directors and Officers](https://github.com/kubernetes/steering/issues/240) Insurance.

During the Apr 12th meeting of CNCF GB, @mkdolan had some information about what's covered, who is covered et. al. We need to document this publicly for all sorts of leaders in our various projects to be aware of.  It's currently in the confidential sessio

[2022-04-14 21:05] dims commented on #290
UPDATE: @mkdolan has had an initial discussion with some folks from the Kubernetes Security Response Team today and walked through processes that has been documented by SRC. Next step is to set up a call with [Mishi Choudhary](https://www.linkedin.com/in/mishi-choudhary-esq-983b526/) hopefully the week of April 25th.

[2022-04-21 01:59] dims commented on #329
Here's a statement from CNCF that @pritianka requested me to share with you all. Also cc'ing @poconnor1. we will wait for @mkdolan to come back from vacation to help draft something better that we can add to some of our documentation at CNCF / k8s.

---

# Existing coverage - D&O and EPLI

The Linux Foundation already maintains a comprehensive umbrella of policies to protect its communities’ inter

[2022-04-21 15:41] tabbysable commented on #329
Oooh, i love to see this!

[2022-04-21 16:48] justaugustus commented on #329
(Usual "I am not a lawyer" disclaimer)

The way I'm interpreting this is that directors/officers/committee members of LF directed funds, like CNCF, would be covered by this policy.

Example: @dims (CNCF TOC Chair) + @parispittman (CNCF GB Kubernetes Seat) would be covered because their roles exist on the CNCF-level

That said, is Kubernetes an "entity"? My understanding is it is not.

Does this su

[2022-04-21 17:15] tabbysable commented on #329
^^^ Thank you Stephen! +1 everything you said here -- I love to see this _if it helps us_ and clarification around the definition of those terms is important.

[2022-04-21 17:20] dims commented on #329
@tabbysable @justaugustus yep. folks are off on vacation. we asked the same exact questions :)

[2022-04-21 17:37] pritianka commented on #329
Hello folx - I am not a lawyer and not providing legal advice here :-). But as I understand it, volunteers to committees are covered. The entity is the Linux Foundation and it houses the k8s project (via the CNCF-directed fund). As Dims said, the legal minds are on vacation so we can get more clarification when they return. But they have already looked at the matter with Kubernetes Steering, Secur

[2022-04-21 18:12] justaugustus commented on #329
SGTM! Thanks for pushing this along, everyone!

[2022-04-22 18:53] amye commented on #317
Marking Google complete.

[2022-04-30 19:59] dims opened #337 "Guidance for privacy policy needed for services run by kubernetes infra team"
Context: please see https://github.com/kubernetes-sigs/oci-proxy/issues/62

Short Summary : The Kubernetes community under sig-k8s-infra will be setting up a proxy/redirector for Container images (registry.k8s.io). When images are being requested by container runtimes running in multiple clouds, this proxy will detect which IP address (if available) is requesting the image and will automatically r

[2022-04-30 20:06] dims commented on #337
Answer from @caniszczyk is to link to the LF Privacy Policy - https://www.linuxfoundation.org/privacy-policy/

from slack - https://cloud-native.slack.com/archives/C0MP69YF4/p1651349021146899

[2022-04-30 20:06] #337 closed

[2022-05-16 18:25] jon-whit opened #346 "License exception for ory/dockertest"
Various Go projects use the `github.com/ory/dockertest` package to assist in the development of tests (unit and functional) that run against a real database. It's a wrapper around `github.com/fsouza/go-dockerclient` that makes management of container spin up/down for tests easier.

Docker explicitly references usage of and recommends usage of `github.com/ory/dockertest` for Go testing with contain

[2022-05-16 18:28] jon-whit opened #347 "License exception for `github.com/docker/docker/client`"
I noticed that the `github.com/fsouza/go-dockerclient` Go package is on the exception list, but the official `github.com/docker/docker/client` is not. The `github.com/fsouza/go-dockerclient` even recommends any new projects should use the official Docker client SDK from Docker.

Would your governing body consider an exception for `github.com/docker/docker/client` (as the fsouza package recommends)

[2022-05-20 11:05] caniszczyk opened #348 "Be able to list CNCF new CNCF projects in order of acceptance"
We had complaints from folks that it's hard to keep up to date with projects.

We should the ability to generate info for each:
- who is involved
- what's new in terms of features

Let's experiment for kubecon detroit

[2022-05-22 00:57] dims commented on #348
good point. perhaps links to the roster and changelog+blog-for-latest-release?

[2022-05-23 12:35] parispittman commented on #348
this crosses into this a little bit: https://github.com/cncf/enduser-public/issues/37

it's really hard to keep track of things as an end user for 100+ projects, especially at orgs that are using 30+ of them.

[2022-05-24 11:08] sanjacodes opened #350 "Increase Contributor-Friendliness (CLA/DCO/Open)"
As we are looking into sandboxing [ContainerSSH](https://containerssh.io) per request of some of our users and contributors, we are evaluating licensing as well as the CLA and DCO process required by the [CNCF IP Policy](https://github.com/cncf/foundation/blob/main/charter.md#11-ip-policy).

## Proposal

Currently, we require neither a CLA nor DCO. We understand the need for compliance and attribu

[2022-05-24 11:57] janosdebugs commented on #350
It's also worth noting that organizational CLAs are typically a bureaucratic process to get signed and are not conducive to easy contributions. The CLA added to the repository should account for that and be lightweight enough for the occasional contributor to sign themselves, making a representation that they are either owners, or have permission to contribute the code.

[2022-05-24 12:44] dims commented on #350
@sanjacodes FYI, there is a new UI/UX for CLA, please see https://easycla.lfx.linuxfoundation.org/ ( Kubernetes has already switched to this easycla! - https://github.com/kubernetes/community/blob/master/CLA.md )

[2022-05-24 13:14] sanjacodes commented on #350
Thanks for the quick reply, @dims! Our main concern with our ContainerSSH community in particular is that we are in contact with several compliance-heavy institutions using it (telcos, government, research) and we know from their comments that it would take them months to get anything signed.

Exposing all e-mail addresses they have on their profile is also not what we would want for them. The Eas

[2022-05-24 14:48] sanjacodes commented on #350
What I mean with quick fixes, using CNCF repositories as an example: https://github.com/cncf/toc/pull/843

Requiring new contributors to sign CLAs or DCOs for those one-off one-liners usually makes them just waive the idea and look for another project which makes it hard to grow projects that aren't already established.

Would it maybe be possible to drop the CLA/DCO requirement and move it to the

[2022-05-24 16:39] caniszczyk commented on #350
Ah, the CNCF TOC repo should be under DCO and we will fix that, that's an oversight.

re: privacy policy, all CNCF/LF/LFX tools etc are all covered by the LF Privacy Policy, this includes CLA information: https://www.linuxfoundation.org/privacy-policy/

re: DCO, it's going to get much easier for normal devs as this will be built in GitHub soon, you can trial it out here by making a request for you

[2022-05-24 16:44] #350 closed

[2022-05-25 12:48] dims commented on #350
yay!

[2022-05-25 21:10] vsoch opened #352 "DCO Policy for bots?"
Hey CNCF!

We added a small contributors bot to our repository, and he basically looks for new contributors to the code, and then opens a pull request to update a metadata file and a pretty rendering in the README.md so we can put contributors front and center.

However, after his first run I realized that his PRs will never be acceptable because the GitHub bot cannot sign the commits (and thus pa

[2022-05-26 14:34] dims commented on #352
@vsoch in https://github.com/oras-project/oras-py/blob/main/.github/workflows/update-contributors.yaml#L56 can you not add the `Signed-off-by` explicitly?

[2022-05-26 14:56] caniszczyk commented on #352
+1 to what Dims said, just have the bot sign off with an email and it work

This is what the GitHub dependabot does and it works

On Thu, May 26, 2022 at 9:34 AM Davanum Srinivas ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-05-26 17:10] vsoch commented on #352
oh wow, that's a very simple solution! Indeed I will try that and report back. Thanks @dims and @caniszczyk !

[2022-05-26 17:50] vsoch commented on #352
Worked like a charm! For future readers of this post, what I wound up doing it:

[code]
If you do a newline in -m it's not honored (and won't work) and neither will using a name / email that is not the actual author of the commit.

Thank you again!

[2022-05-26 17:50] #352 closed

[2022-05-27 12:16] dims commented on #347
@jon-whit the docker/docker/client is under Apache License 2.0 it does not need an exception, we use this in cadvisor and containerd etc (see their go.mod's)

[2022-05-27 12:17] dims opened #354 "When we fork an Apache License 2.0 project that we depend on, are there any restrictions on the name/path for imports"
Context: please see discussion in https://github.com/kubernetes-sigs/yaml/pull/76#issuecomment-1137770406

cc @mkdolan

[2022-05-27 13:23] caniszczyk commented on #354
In short, no restrictions on name/path for imports, you just have to preserve any copyright information in the files (along with any usual attributions)

[2022-05-27 13:23] #354 closed

[2022-05-27 13:29] dims commented on #354
thanks @caniszczyk !!! wanted this on the record :)

[2022-06-07 19:49] caniszczyk commented on #264
this is basically done, 1 left with envoy

[2022-06-07 19:49] #264 closed

[2022-06-07 19:49] #149 closed

[2022-06-08 14:45] caniszczyk opened #360 "Consider adding OFL-1.1 variants to the allow list"
https://opensource.org/licenses/OFL-1.1

https://github.com/prometheus/prometheus/issues/10767

[2022-06-08 16:21] davegandy commented on #360
Creator of Font Awesome here. We've tried to make the license as open as we possibly can. Happy to answer any questions needed to help folks get this sorted.

[2022-06-13 03:00] KTan1226 opened #361 "KCCNC EU Marketing/Promotional Campaigns"

[2022-06-16 14:54] leogr opened #362 "Third-party license policy for container base images (e.g., is Red Had UBI allowed?)"
Hi

I'm a Falco core maintainer and have some doubts about the container images' license policy.

AFAIK, CNCF project dependencies under a non-Apache 2.0 license are allowed only if they satisfy the "Allowlist License Policy" criteria:
https://github.com/cncf/foundation/blob/main/allowed-third-party-license-policy.md#cncf-allowlist-license-policy

Questions:
1. I guess the container base image use

[2022-06-24 16:56] aimichelle commented on #301
1. These are single licensed.
2.  These packages are not newly created and are 5+ years old.
3. Yes for both.
4. These dependencies are used in nats-streaming-server, and NATS is another project in CNCF. We do not directly use these dependencies in Pixie.
5. The maintainers of these projects are responsible for maintaining them.
6. The maintainers are responsible for keeping the code up-to-date.

[2022-06-29 10:56] thincat75 opened #374 "CURVE license exceptions required"
hi, we are looking to get licensing exceptions for the following repositories for usage in CURVE. (https://github.com/cncf/sandbox/issues/173)

| Repo URL | License | Starts | Forks | alternative license | newly code? | 3rd open source project | How does this code integrate with or interact with, if at all, other components of CNCF? | How will the code be maintained? Who is responsible? | How will

[2022-07-02 12:35] dims opened #379 "Real Name Policy for CNCF"
As far as i can tell our CNCF individual CLA allows distinguishing a “Full Name” from a “Public Name”  ( see https://github.com/cncf/cla/blob/master/individual-cla.pdf ) Looks like this was adapted from the ASF’s ICLA ( https://www.apache.org/licenses/icla.pdf )

Also the DCO itself does not prohibit using a Pseudonym (reading https://developercertificate.org/)

So questions are as follows
- What

[2022-07-02 12:36] dims commented on #379
cc @caniszczyk @mkdolan

[2022-07-02 13:32] dims commented on #379
some prev discussion:
- https://wiki.hyperledger.org/display/TSC/DCO+and+Pseudonyms

[2022-07-02 16:27] mkdolan commented on #379
Hi @dims the policy is in the second link you provided.

"using your real name (sorry, no pseudonyms or anonymous contributions.)"

I know a few people have tried to bring this up in the past, but the DCO representation that the contribution is authorized is for a real person to make. The DCO was a "hack" to keep the legal overhead burden low and facilitate rapid development models.  There are no

[2022-07-02 16:32] dims commented on #379
@mkdolan thanks for the quick response. Should we codify this in https://github.com/cncf/foundation (or) in https://github.com/cncf/toc ?

[2022-07-02 19:20] mkdolan commented on #379
If it's helpful for you all to have it restated somewhere in CNCF, that's fine with me. I don't know personally what location would make most sense...

[2022-07-02 19:22] caniszczyk commented on #379
I'll add it to the FAQ and close this out
https://github.com/cncf/toc/blob/main/FAQ.md

On Sat, Jul 2, 2022 at 12:20 PM Mike Dolan ***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-07-02 19:45] caniszczyk commented on #379
https://github.com/cncf/toc/commit/4b5d5049bce9719bff4b10939389204bc0493557

[2022-07-02 19:45] #379 closed

[2022-07-02 22:02] dims commented on #379
@caniszczyk we need to
- Drop "Public Name" from https://github.com/cncf/cla/blob/master/individual-cla.pdf
- Check if the EasyCLA process shows a "Public Name" and drop it if it does https://docs.linuxfoundation.org/lfx/easycla/v2-current/contributors/individual-contributor

[2022-07-03 05:33] taniaduggal commented on #317
Hey @amye .I wanna work on this issue . How can I get started ? Could you guide me please.

[2022-07-03 05:34] taniaduggal commented on #317
/assign

[2022-07-04 10:37] jahrlin opened #381 "License exception for hashicorp libs (cert-manager)"
Hello!

[cert-manager](https://github.com/cert-manager/cert-manager) uses a few MPL licensed hashicorp libraries that are not listed in the [CNCF exception list](https://github.com/cncf/foundation/blob/main/license-exceptions/cncf-exceptions-2019-11-01.json).

We would like to have these added to the list of exceptions, if possible:

https://github.com/hashicorp/go-retryablehttp
https://github.com

[2022-07-05 16:38] caniszczyk commented on #379
@jberkus no decision has been made outside of highlighting what was the policy already across LF projects

If folks want to propose changes they can do it through board members and their legal representatives

[2022-07-05 20:19] dims commented on #379
@jberkus what @caniszczyk said! ended up documenting what was already being given as guidance to folks, but not written down.

[2022-07-06 02:04] dims commented on #379
FWIW, the thread is still collecting feedback here:
https://lists.cncf.io/g/cncf-toc/topic/92137934#7204

We may end up reopening this issue or opening a fresh issue.

[2022-07-07 12:49] dims opened #383 "Clarify "real name" when contributing via DCO"
Context:
We had a issue opened a week ago - https://github.com/cncf/foundation/issues/379

Which resulted in an update from CNCF staff as to what the current policy was:
https://github.com/cncf/toc/commit/4b5d5049bce9719bff4b10939389204bc0493557

However, talking to community folks who currently are already contributing, there are a bunch of questions/concerns:
- What is the standard for a "real n

[2022-07-07 13:27] TheFoxAtWork commented on #383
I don't know what it should look like and I am not an expert in this area, but I do know our community is expected to be one of the most inclusive and implementing processes or policies that remove the choice of participation regardless that is the intent or 'just' an effect - it is debilitating to our growth, diversity, innovation.  The security community has long used pseudonyms and it still thr

[2022-07-07 13:41] AlexsJones commented on #383
I at least need clarification on whether the reason behind "real name" is to link individual liability or not.
If the former then it's a licensing issue, if the former then there is no reason to do it at all.

[2022-07-07 16:45] caniszczyk commented on #329
This is what our legal team has posted: https://github.com/cncf/foundation/blob/main/do-insurance.md

Hope that helps.

[2022-07-07 17:12] endocrimes commented on #383
This has per-country legal complications too - some countries don't strictly have a "legal name" (e.g the UK)

[2022-07-07 21:36] mkdolan commented on #383
Hi @dims, @caniszczyk pointed me to this issue and asked me to clarify what I had provided last Friday. it wasn’t clear to me in [#379](https://github.com/cncf/foundation/issues/379) that this is what you were asking about and my response was without awareness of your interest in the broader question raised in this issue.

The [DCO](https://developercertificate.org/) is a representation by someone

[2022-07-07 22:43] madikaia commented on #383
Thank you to everyone who has voiced their opinions on this thread! This topic is very close to my heart and I couldn't agree more with the comment by @TheFoxAtWork that ran along the lines of "let's not keep doing something just because we've always done it this way".

@mkdolan is exactly right about why code attribution is necessary. There is no doubt that tracking each and every contribution ba

[2022-07-11 09:13] justincormack commented on #383
Hi @madikaia just to be clear, @mkdolan statement is an official Linux Foundation clarification of the intended meaning, to make it clear that real names are not required, only ability to identify the person in the community.

[2022-07-11 10:09] madikaia commented on #383
Thank you Justin, that's great!
I'll pass that information on.

Kind Regards,
Marianna
________________________________
From: Justin Cormack ***@***.***>
Sent: 11 July 2022 10:13
To: cncf/foundation ***@***.***>
Cc: Marianna Dikaiakou (she/her) ***@***.***>; Mention ***@***.***>
Subject: Re: [cncf/foundation] Clarify "real name" when contributing via DCO (Issue #383)

Hi @madikaia<https://nam06.sa

[2022-07-19 09:36] caniszczyk commented on #383
Thank you everyone for the valuable feedback, we have clarified this in an official doc https://github.com/cncf/foundation/blob/main/dco-guidelines.md

[2022-07-19 09:36] #383 closed

[2022-07-22 16:22] shubham1172 commented on #297
@amye are there any developments in this?

[2022-07-31 04:45] Poppop78 opened #395 "Check"

[2022-07-31 18:10] #395 closed

[2022-08-01 22:37] medyagh opened #399 "add minikube maintainers"
Hi we (minikube mainainers) would like to be added to the list of maintainers in
https://github.com/cncf/foundation/blob/main/project-maintainers.csv

what is right way of doing it ?

[2022-08-01 22:42] amye commented on #399
No, subprojects of Kubernetes are not listed here.

[2022-08-01 22:42] #399 closed

[2022-08-01 23:34] medyagh commented on #399
@amye thanks for the clarifying, I need to create a ticket for user metrics in help desk, but we dont have an account to create a support ticket, do you have any suggestions how we could do that?

[2022-08-01 23:35] parispittman commented on #399
@medyagh reach out to the steering committee to help

[2022-08-04 13:47] lizrice opened #400 "License exception request: additional hashicorp packages used by Cilium project"
We would like to request license exceptions for the following Go packages that Cilium uses, that are licensed under MPL-2.0.
 - github.com/hashicorp/consul/api
 - github.com/hashicorp/serf
 - github.com/hashicorp/go-rootcerts
 - github.com/hashicorp/go-immutable-radix
 - github.com/hashicorp/go-hclog

FOSSA also flags up the following packages that Cilium is using, but that are already included in

[2022-08-09 12:16] Jarema opened #402 "Disappeared from maintainers list"
I found out by accident, that I'm no longer on maintainers list, despite not seeing (or missing) any relevant commit.

I was added here: https://github.com/cncf/foundation/pull/371

and bisect lead me to "first bad commit" `99f6eb0c55b74f42f52fefd5b2d0851ca192e51b` which does not make much sense, unless there were some mistakes in rebases/merges.

Created an issue, as it might have affected others

[2022-08-09 17:56] dims commented on #354
related to https://github.com/cncf/toc/issues/877

[2022-08-15 21:25] amye commented on #346
Question here: is this coming from a particular project?

[2022-08-15 21:39] dims commented on #346
@jon-whit As amye implied, the exception request should be associated with a current CNCF project. If you are enquiring about openfga? we (CNCF TOC) needs to work on the sandbox submission first (and accept) before the GB can deal with the exception request.

[2022-08-15 22:15] jon-whit commented on #346
Sounds good 👍 . Thanks for the info @amye and @dims !

[2022-08-15 22:15] #346 closed

[2022-08-18 15:29] #402 closed

[2022-08-18 15:30] amye commented on #402
Good news, it was just an error and you're still on the maintainers list. I've put you back. :)

[2022-08-18 17:36] AkihiroSuda opened #407 "dco-guidelines.md: disallow/allow using `@users.noreply.github.com` email addresses"
https://github.com/cncf/foundation/blob/e0060f51/dco-guidelines.md

For this concern, the DCO guidelines should explicitly disallow using `@users.noreply.github.com` email addresses?

[2022-08-18 17:46] dims commented on #407
@AkihiroSuda i have a feeling that as someone's github profile is still unique and folks can be reached by `@` addressing them on issues and PRs to get their attention. So i think that passes the test.

However if someone is using a fake / non-existent github profile handle in their email, that would not pass the test.

Note that there is a general problem .. we don't have a way to "verify" (as sa

[2022-08-18 17:59] AkihiroSuda commented on #407
Usually yes, but the person may remove the GitHub account, lose access to the account, or get banned in a bad situation.

[2022-08-18 18:14] dims commented on #407
@AkihiroSuda for sure... also can you please read through the background discussion https://github.com/cncf/foundation/issues/383#issuecomment-1178254458 to get a sense of why the policy is set this way. thanks!

[2022-08-18 23:04] dims opened #408 "Defining the role and activities of Alternates in the Charter"
There has been some confusion about what GB alternates can do and cannot do. This is primarily because the charter does not talk about alternates at all.

Also not all GB primary members currently have alternates. Example the Developer Representatives (as defined in https://github.com/cncf/foundation/blob/main/maintainers-election-policy.md) do not have alternates.

As a result, alternates do not

[2022-08-18 23:05] dims commented on #408
cc @parispittman @RichiH (as developer reps)

[2022-08-20 01:48] AkihiroSuda commented on #407
Thanks

[2022-08-20 01:48] #407 closed

[2022-09-08 23:11] dims opened #416 "CNCF Projects using Akka are at risk as their LICENSE has changed to BSL 1.1"
We need to check if any of our projects use Akka and figure out how to transition/sunset the support or usage of Akka

- https://www.lightbend.com/blog/why-we-are-changing-the-license-for-akka
- https://www.lightbend.com/akka/license-faq

Also see https://issues.apache.org/jira/browse/LEGAL-620 and https://flink.apache.org/news/2022/09/08/akka-license-change.html

[2022-09-08 23:12] dims commented on #416
otel-java seems to be using Akka https://github.com/open-telemetry/opentelemetry-java-instrumentation/search?q=akka

[2022-09-28 11:08] #54 closed

[2022-10-02 07:47] iasna opened #429 "[Question] Is Microservice mandatory for cloud native ?"
I have a question, I have been looking into articles, books and videos regarding cloud native.  CNCF official definition of cloud-native says the application should be microservice. What I'm confused about is an application being a microservice to called cloud-native. What if I have an application that is not microservice but broken into smaller independently scalable & resilient component that is

[2022-10-04 22:54] caniszczyk commented on #429
Just because you are a microservice, doesn't necessarily mean you are cloud native, you exhibit one of the attributes of cloud native architectures. The Cloud Native definition covers this: https://github.com/cncf/toc/blob/main/DEFINITION.md

[2022-10-04 22:54] #429 closed

[2022-10-05 05:25] craigbox opened #433 "Please consider defining what a "maintainer" is, perhaps using a different word, and document any cap on the number."
As part of [onboarding Istio into the CNCF](https://github.com/cncf/toc/issues/935), we were asked to list our maintainers.  I mentioned we have 87, and sought clarity if I should add them all; @amye said "no", and @dims commented to say

As projects and communities evolve, there is inevitable drift between intentions and realities. I'm always keen to use moments like this as an opportunity to mak

[2022-10-06 03:50] iasna commented on #429
Yes, I understand that. If I'm not microservice but miniservice instead and also cover other attributes of cloud-native apps, can I call myself cloud-native.

[2022-11-10 16:18] austinlparker opened #451 "Interest Check: mastodon.cncf.io?"
Given the relatively high level of uncertainty around the medium and long term fortunes of Twitter as a medium for communicating with our end-user community, I wanted to broach a public discussion around the CNCF operating a Mastodon instance for project communications, announcements, etc. Pretty much anything you'd use Twitter for today.

My back-of-the-napkin math would suggest that costs would

[2022-11-10 16:47] jjasghar commented on #451
I'd step up to help administer this. Part of my responsibility is to help the community, and this is something i can use _some_ work hours to help with.

[2022-11-10 19:52] dims commented on #451
cc @caniszczyk

[2022-11-10 20:03] jberkus commented on #451
Per slack discussion, this would need strong staff support.  It may need to wait for one of CNCF's new hires to onboard.

[2022-11-11 15:45] caniszczyk commented on #451
The CNCF has always been about accommodating project choice in tools and these include social networks. We have projects that pretty much use everything out there, with guidelines here: https://github.com/cncf/foundation/blob/main/social-guidelines.md

At the moment, if projects want to use mastadon or anything else, they are welcome too! There are some good servers out there already like https://

[2022-11-11 16:16] austinlparker commented on #451
The problem in my mind is that while we could start an account somewhere (like fosstodon) and move it later in the event of an official instance, we'd lose our post history. I suppose that isn't the worst thing?

I'll take this back to OpenTelemetry and check on community interest.

[2022-11-11 20:13] AkihiroSuda commented on #451
Fosstodon's Code of Conduct ( https://hub.fosstodon.org/coc/ ) says  "Do not toot in languages other than English" 😥  .
( Their explanation: https://hub.fosstodon.org/why-fosstodon-is-english-only/ )

I'm not sure whether their Code of Conduct is compatible with the CNCF Code of Conduct 😞 . https://github.com/cncf/foundation/blob/main/code-of-conduct.md

[2022-11-11 20:15] caniszczyk commented on #451
Thanks for pointing that out Akihiro, TIL!

On Fri, Nov 11, 2022 at 2:14 PM Akihiro Suda ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-11-11 21:33] joaquimrocha commented on #451
Hey folks, I looked into fosstodon.org for my 1st personal account on Mastodon and ended up not using it because of the English-only policy (sometimes I ~tweet~ twoot in different languages).
So I ended up creating an account on [floss.social](https://floss.social/about/more) after seeing lots of accounts related to freedesktop (GNOME, KDE...) there.

[2022-11-14 09:33] clux commented on #451
Not sure the operating costs would be quite __as__ trivial as mentioned, but there would at the very least be some very nice benefits from doing this:

- cncf verified project accounts (by virtue of sitting inside an `@cncf.io` mastadon instance)
- guaranteed account availability (no name clashes, via cncf controlled registration -> `@kubernetes@cncf.io`)
- cohesive view of cncf accounts and offic

[2022-11-17 15:21] dims commented on #451
OSI has opened up shop on mastodon : https://blog.opensource.org/how-osi-got-to-mastodon/

two accounts, they are:
[code]

[2022-11-17 23:15] jberkus commented on #451
@dims note that OSI is currently not giving anyone accounts on that server, not even board members (I'm a board member).

[2022-11-17 23:29] dims commented on #451
@jberkus yep. got it.

[2022-11-22 14:09] mcandeia opened #461 "License exception request: k6-operator usage on Dapr project for e2e stress tests"
We would like to request a license exception for the [k6](https://github.com/grafana/k6) AGPL-3.0 to be used on [Dapr Project](https://github.com/dapr/dapr) via [k6-operator](https://github.com/grafana/k6-operator) Apache-2.0.

**What is the alternative license?**
None, as they are single license

**If this is newly created code, why can't it be under Apache-2.0?**
It is not newly created code. >